COMPOSE_PROJECT_NAME=OTUS_COURSE_PROJECT
INTERFACE=82.146.34.101
APP_DEBUG=true
APP_ENV=local

#php artisan key:generate
APP_KEY=

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE='otus_project'
DB_USERNAME='otus_user'
DB_PASSWORD='zeQTQmAhnUNTbafQU7W66'

RABBIT_MQ_HOST=rabbit
RABBIT_MQ_PORT=5671
RABBIT_MQ_USER=rabbit
RABBIT_MQ_PASSWORD=rabbit

CACHE_DRIVER=redis
REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CACHE_DB=1

PROMETHEUS_PORT=9090
PROMETHEUS_STORAGE_ADAPTER=redis

GRAFANA_PORT=3000
